* {
  box-sizing: border-box;
}
.form-control {
  margin-bottom: 15px;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
}
.form-control input {
  padding: 8px;
  width: 100%;
}
.form-control small {
  display: none;
  color: red;
}
.form-control.error small {
  display: block;
}
.btn {
  padding: 5px 15px;
}
.loginform {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 25px;
}
